
[Unit]
Description=Beszel Hub
Wants=traefik.service
After=traefik.service

[Container]
ContainerName=beszel
Image=docker.io/henrygd/beszel:latest
Network=proxy.network

Volume=%h/.local/share/beszel:/beszel_data:rw,Z
Timezone=

PidsLimit=100
ReadOnlyTmpfs=true
NoNewPrivileges=true
SecurityLabelDisable=false

Label=traefik.enable=true
Label=traefik.http.routers.beszel.rule=Host(`beszel.domain.tld`)
Label=traefik.http.routers.beszel.entrypoints=websecure
Label=traefik.http.routers.beszel.tls=true
Label=traefik.http.routers.beszel.middlewares=chainBasic@file
Label=traefik.http.services.beszel.loadbalancer.server.port=8090

[Service]
Restart=on-failure
RestartSec=15
TimeoutStartSec=30
TimeoutStopSec=70

Slice=homelab.slice
CPUWeight=20
IOWeight=20
MemoryMax=256M

ExecStartPre=/usr/bin/mkdir -p %h/.local/share/beszel

[Install]
WantedBy=default.target